@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #333; }

.logout {
  color: #44c3ed;
  transition: .2s;
  cursor: pointer;
  margin: 0 1px; }
  .logout:hover {
    color: #65d5f7; }

.container {
  max-width: 960px;
  margin: 0 auto;
  height: 50px; }

.error-toast {
  background-color: #f25c66;
  color: white;
  padding: 7px 10px 8px 10px;
  margin-left: auto;
  transition: .4s;
  min-width: 200px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px; }
