span:last-child {
  display: none; }

.iconmedium del {
  background-image: none !important; }

.iconmedium ins {
  top: 0 !important;
  left: 0 !important; }

.character-gear-piece {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 2px;
  overflow: hidden;
  border: solid 1px #fff; }
  .character-gear-piece .wowhead-link .iconmedium {
    background: none; }
    .character-gear-piece .wowhead-link .iconmedium ins {
      top: 0;
      left: 0; }

.character-gear-piece-ilvl {
  color: #fff;
  font-size: 0.85rem;
  text-align: center;
  width: 38px;
  margin: 0 2px 4px 2px; }
  .character-gear-piece-ilvl p {
    margin: 0; }
