.character-form {
  display: inline-block;
  align-items: center;
  width: 172px; }
  .character-form .character-name {
    margin: 0 10px 10px 0;
    width: 172px; }
    .character-form .character-name .character-input {
      background-color: #fafafa;
      border: solid 1px #cccccc;
      border-radius: 4px;
      min-height: 38px;
      box-sizing: border-box;
      font-family: 'Lato', sans-serif;
      font-size: 16px; }
      .character-form .character-name .character-input:focus {
        outline: none;
        border: solid 2px #2179FF; }
  .character-form .character-realm {
    width: 172px;
    margin: 0 20px 10px 0; }
  .character-form .form-submit {
    height: 38px;
    margin: 10px 0 10px 0;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border: solid 2px #597395;
    background-color: white;
    color: #597395;
    transition: .2s;
    cursor: pointer; }
    .character-form .form-submit:hover {
      background-color: #597395;
      color: white; }

@media (min-width: 760px) {
  .character-form {
    display: flex;
    width: 100%;
    justify-content: center; }
    .character-form .form-submit {
      margin-top: 19px; } }
