.character-row-wrapper {
  display: flex;
  margin: 5px auto;
  width: 90%;
  .character-row {
    box-sizing: border-box;
    display: flex;
    background-color: #333;
    border: solid 1px #000;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: .2s;
    width: 100%;
    margin-right: 10px;
    .column {
      flex: 1;
      margin: 5px 0;
    }
    .pipe {
      border-right: solid 1px #000;
    }
    &:hover {
      cursor: pointer;
      border-width: 3px;
    }
  }
  .character-delete {
    color: #777;
    margin-top: 5px;
    transition: .2s;
    z-index: 1000;
    cursor: pointer;
    &:hover {
      color: #f85d4a;
    }
  }
}



@media (min-width: 760px) {
  .character-row-wrapper {
    width: 60%;
  }
}
