.character-form {
  display: flex; }
  .character-form .character-name {
    margin-right: 10px; }
    .character-form .character-name .character-input {
      background-color: #fafafa;
      border: solid 1px #cccccc;
      border-radius: 4px;
      min-height: 38px;
      box-sizing: border-box;
      font-size: 16px;
      font-family: 'Lato', sans-serif; }
      .character-form .character-name .character-input:focus {
        outline: none;
        border: solid 2px #2179FF; }
  .character-form .character-realm {
    width: 150px; }
