// styles for character-raid-progression and all child components
.character-raid-progression {
  display: flex;
  flex-direction: column;
  .character-boss-progression {
    display: flex;
    flex-direction: column;
    flex: 1;
    .boss-row {
      display: flex;
      flex: 1;
      align-items: center;
      &:first-child {
        border-bottom: 1px solid #444;
      }
      .boss-field {
        display: flex;
        flex: 1;
        margin: 5px 0;
        color: #fff;
        font-weight: 300;
        &.boss-icon {
          max-width: 30px;
          max-height: 30px;
          border: solid 3px #666;
          border-radius: 5px;
          margin-right: 5px;
        }
        &.boss-name {
          flex: 3;
          font-weight: 400;
          color: #666;
          &.header {
            color: #fff;
          }
        }
        &.boss-normal-kills {
          justify-content: center;
          &.header {
            color: #0070dd;
            margin-left: 30px;
          }

        }
        &.boss-heroic-kills {
          justify-content: center;
          &.header {
            color: #a335ee;
          }

        }
        &.boss-mythic-kills {
          justify-content: center;
          &.header {
            color: #ff8000;
          }
        }
      }
    }
  }
  .progress {
    background-image: none;
    background-color: #444;
    .progress-bar-mythic {
      background-color: #ff8000;
      background-image: none;
    }
    .progress-bar-heroic {
      background-color: #a335ee;
      background-image: none;
    }
    .progress-bar-normal {
      background-color: #0070dd;
      background-image: none;
    }
  }
}

@media (min-width: 760px) {
  .character-raid-progression {
  }
}
