.dashboard {
  text-align: center;
  .dashboard-character-table-header {
    box-sizing: border-box;
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 0 10px 5px 10px;
    color: #EDCA19;
    .column {
      flex: 1;
      margin-bottom: 0;
    }
  }
  .none-header {
    text-align: center;
    color: #bababa;
  }
}
@media (min-width: 760px) {
  .dashboard {
    text-align: left;
    .dashboard-character-table-header {
      width: 60%;
    }
  }
}
