.dashboard {
  text-align: center; }
  .dashboard .dashboard-character-form-header {
    font-size: 1rem;
    margin: 0 auto; }
  .dashboard .none-header {
    text-align: center;
    color: #bababa; }

@media (min-width: 760px) {
  .dashboard {
    text-align: left; }
    .dashboard .dashboard-character-form-header {
      text-align: center; } }
